@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap');
body {
    margin: 0;
    background-image: url('images/bg1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}

header {
    top: 0;
    width: 100%;
    height: 50px;
    background-color: #000000;
    overflow: hidden;
    position: fixed;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.hd {
    width: 1000px;
    display: grid;
    grid-template-columns: 500px 500px;
    margin: 0 auto;
}

.dnav {
    width: 500px;
    margin: 0 auto;
}

.dnav ul {
    display: flex;
    justify-content: right;
}

.dnav ul li {
    padding: 0 15px;
}

.dnav ul li a {
    text-decoration: none;
    color: #fff;
}

.logotext {
    margin: 1px 15px; 
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}

.intro {
    width: 650px;
    margin: 100px auto 70px auto;
    color: #fff;
}

.introtitle {
    width: 190px;
    margin: 0 auto;
}

.introtext {
    text-align: center;
}

main {
    width: 1000px;
    height: 90%;
    margin: 65px auto;
    opacity: 0.90;
}

.bms {
    width: 100%;
    height: 430px;
    margin: 45px 0;
    border-radius: 25px;
    display: grid;
    grid-template-columns: 300px 700px;
    background: #ffffff;
    box-shadow: 0 1px 6px 0 rgba(255, 255, 255, 0.5);
}

.imginbox {
    height: 400px;
    margin: 15px;
    border-radius: 15px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.5);
}

.otherbox {
    width: 650px;
    margin: 0 25px;
}

.moviename {
    font-weight: 600;
    font-size: 40px;
    margin: 25px 0;
}

.genre {
    font-weight: 600;
    margin: 5px 0;
}

.time {
    font-weight: 600;
    margin: 5px 0;
}

.description {
    font-weight: 500;
    font-size: 17px;
    font-style: italic;
}

.like:hover {
    cursor: pointer;
    color: #8cc620;
    transition-duration: 100ms;
}

.dislike:hover {
    cursor: pointer;
    color: #ff4646;
    transition-duration: 100ms;
}

.activelike {
    background-color: #8cc620;
}

.activedislike {
    background-color: #ff4646;
}